@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
.logo a img{
    width:4rem;
    margin-left:30px;
}
.navbar-toggler img{
    width:3rem;
}

/* chapterlogo */
.chapterLogo{
    width:100%;
}
/*---------------------
  Header
-----------------------*/

.header-section.header-normal .menu-item {
	-webkit-box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
	box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
}

.menu-item {
	position: relative;
	z-index: 9;
}
.menu-item .logo {
	padding: 25px 0;
}
.menu-item .logo a {
	display: inline-block;
}
.menu-item .nav-menu {
	text-align: right;
}
.menu-item .nav-menu .mainmenu {
	display: inline-block;
}
.menu-item .nav-menu .mainmenu li {
	list-style: none;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.menu-item .nav-menu .mainmenu li.active a:after {
	opacity: 1;
}
.menu-item .nav-menu .mainmenu li:hover>a:after {
	opacity: 1;
}

.menu-item .nav-menu .mainmenu li a {
	font-size: 20px;
	color: #19191a;
	margin-right: 42px;
	font-weight: 500;
	display: inline-block;
	padding: 27px 0;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li a:after {
	position: absolute;
	left: 0;
	top: 52px;
	width: 100%;
	height: 2px;
	background: #dfa974;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.menu-item .nav-menu .nav-right {
	display: inline-block;
	margin-left: 43px;
	padding: 27px 0px;
}
.menu-item .nav-menu .nav-right i {
	font-size: 16px;
	color: #19191a;
	cursor: pointer;
}
.canvas-open {
	display: none;
}
.offcanvas-menu-wrapper {
	display: none;
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.testimonial-slider.owl-carousel .owl-nav button {
		left: -150px;
	}
	.testimonial-slider.owl-carousel .owl-nav button.owl-next {
		right: -150px;
	}
	.hp-room-items .hp-room-item .hr-text {
		bottom: -322px;
	}
	.hp-room-items .hp-room-item:hover .hr-text {
		bottom: 80px;
	}
}
@media only screen and (max-width: 991px) {
	
	.menu-item .nav-menu {
		display: none;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.7);
		z-index: 98;
		height: 100%;
		width: 100%;
		visibility: hidden;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.canvas-open {
		position: absolute;
		right: 40px;
		top: 25px;
		font-size: 22px;
		width: 30px;
		height: 30px;
		color: #19191a;
		border: 1px solid #19191a;
		border-radius: 2px;
		line-height: 33px;
		text-align: center;
		z-index: 100;
		display: block;
		cursor: pointer;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		top: 0;
		width: 300px;
		z-index: 999;
		background: #ffffff;
		text-align: center;
		overflow-y: auto;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		padding: 80px 30px 30px 30px;
		display: block;
	}
	.offcanvas-menu-wrapper .canvas-close {
		height: 30px;
		width: 30px;
		border: 1px solid #19191a;
		border-radius: 50%;
		text-align: center;
		line-height: 30px;
		cursor: pointer;
		position: absolute;
		right: 30px;
		top: 30px;
		padding-right: 1px;
	}
	
	.offcanvas-menu-wrapper .header-configure-area {
		margin-bottom: 30px;
	}
	
	
	.offcanvas-menu-wrapper .mainmenu {
		display: none;
	}
	.offcanvas-menu-wrapper .slicknav_menu {
		background: transparent;
		padding: 0;
	}
	.offcanvas-menu-wrapper .slicknav_menu .slicknav_btn {
		float: none;
		margin: 0 0 10px 0;
		display: none;
	}
	.offcanvas-menu-wrapper .slicknav_menu .slicknav_nav {
		display: block !important;
	}
	.offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul {
		margin: 0;
		text-align: left;
	}
	.offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li .dropdown {
		padding-left: 20px;
	}
	.offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li a {
		margin: 0;
		padding: 10px;
		font-weight: 600;
		font-size: 14px;
		color: #19191a;
		border-bottom: 1px solid #e5e5e5;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li a:hover {
		border-radius: 0;
		background: transparent;
		color: #dfa974;
	}
	.offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row a {
		border-bottom: 0;
		padding-left: 0;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row span {
		color: #19191a;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row:hover a {
		color: #dfa974;
	}
	.offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row:hover span {
		color: #dfa974;
	}
	
	.offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
		left: 0;
		opacity: 1;
		visibility: visible;
  }
}
  
  /*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1554px) and (max-width: 1920px) {
	.hp-room-items .hp-room-item .hr-text {
		bottom: -200px;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1250px) {
	.hp-room-items .hp-room-item .hr-text {
		bottom: -288px;
	}
}
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Carousel */

#carausel{

	background: linear-gradient(90deg,rgb(26, 25, 25),rgb(53, 52, 52));
}

/* welcome section */
   
  #grad{
    
    font-size:70px;
    font-family: "Algerian"; 
    font-stretch: ultra-expanded;
    font-weight:bold;
    text-align: center;
    background: linear-gradient(to left, #112563 40%, #F18536 80%, #112563 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  text-emphasis-color: transparent;
  background-size: 200% auto;
  animation: textShine 8s infinite reverse ;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}

#about p{
  font-size: 20px;

}
/*events*/
#event{
  background: linear-gradient(90deg,rgb(26, 25, 25),rgb(53, 52, 52));
  
}
#event p {
  color: #fff;
}
#event h2{
  color: #fff;
}
.eventsec p{
  font-size: 20px;
}
/* ourChapters */
.ourChapters img{
  transition:0.3s;
}
.ourChapters img:hover{
  transform: scale(1.2);
}
.pesLogo img{
  width:90%;
}


#myModal {
    text-align: center;
}

  /* member count */

  .my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
  #member{
    background: linear-gradient(90deg,rgb(26, 25, 25),rgb(53, 52, 52));
  }
  
  /*Our Team*/
  .team{
     background: linear-gradient(90deg,rgb(26, 25, 25),rgb(53, 52, 52));
      padding-top: 20px;
  }
#team h1{
  margin-top:30px;
}
#contact h1{
  margin-top:30px;
}
  
/* Contact us */
  .contactUs-wrapper{
    width:100%;
    height:70vh;
    background: #000 url(images/nieccp.jpg);
    background-size:cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:2vw;
  }
  .overlay{
      width:100%;
      height:70vh;
      background: #000;
      opacity:.7;
  }
  .overlay h1{
      text-align:center;
      z-index:1;
  }
 /* Footer */
 .colorWhite { 
     color:#FFF;
    }
footer { 
    width:100%; 
    background-color:#1b1e24; 
    min-height:250px; 
    padding:10px 0px 25px 0px ;
    font-family:sans-serif;
}
.pt { 
    padding-top:40px ; 
    margin-bottom:20px ;
}
footer p { 
    font-size:13px; color:#CCC; 
    padding-bottom:0px; margin-bottom:8px;
}
.mb10 {
     padding-bottom:15px ;
    }
.footerCol2 { 
    margin:0px ; 
    list-style-type:none ; 
    font-size:15px; 
    padding:0px 0px 10px 0px ; 
}
.footerCol2 li {
    padding:0px 0px 5px 0px;
}
.footerCol2 li a{ 
    color:#CCC;
}
.footerCol2 li a:hover{ 
    color:#fff; 
    text-decoration:none;
}
.fcenter { 
    text-align:center;
}
.footerCol3 li a img{
    width:80px;
    padding:10px;
}
.padding-right { 
    padding-right:10px; 
}

.footerCol3 {
    margin:10px; 
    list-style-type:none; 
    padding:0px;
}
.footerCol3 li a img{
    float:left;
    display: flex;
}
.footerCol3 li a img{
    display:table;
}
.footerCol3 li a img:hover {                transform: scale(1.4);
}
.footerCol3 li i { 
    margin-top:5px;
}

.seperation { 
    border-bottom:1px solid #323f45; padding-bottom:20px;
}
.lowerFooter {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.lowerFooter li {                  display:inline;
}
.lowerFooter li a { 
    color:#999; 
    margin:0 12px;
}

.socialFooter { 
    display:table; 
    margin:15px auto 0 auto; list-style-type:none;  
}
.socialFooter li { 
    padding-left:20px; 
    padding-top:10px; 
    float:left; 
}
.socialFooter li a { 
    color:#CCC; 
    border:1px solid #CCC; 
    padding:8px;
    border-radius:50%;
}
.socialFooter li i {  
    width:20px; 
    height:20px; 
    text-align:center;
}
.socialFooter li a i:hover{
    color:#fff;
    transform:scale(1.2);
}
.map{
    padding-right:1rem;
   }